*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* car 1 ////////////////////////////////////////////////// */
.path1{
    width: 100%;
    height: 110px;
    border-bottom: 8px solid black;
    background-color: rgb(223, 223, 223);
    position: relative;
}
.shap1{
    width: 120px;
    height: 120px;
    position:absolute;
    z-index: 1;
    padding-top: 40px;
    animation-name: car1;
    animation-duration: 5s;
    animation-timing-function: linear ;
    animation-fill-mode: forwards ;
}
.rectangle1{
    animation-name: rec1;
    animation-duration: 5s;
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: aquamarine;
    z-index: 2;
}
.circul{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: rgb(109, 109, 109);
    z-index: 2;
    top:80px;
    
}
.circul1{
    left: 5px;
}
.circul2{
    left: 85px;
}
.trapezoid{
    
    top: 15px;
    left: 10px ;
    border-bottom: 25px solid rgb(0, 0, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 95px;
    position: absolute;
}
@keyframes car1{
    
    0% {
        left: 0%;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 92.1%;
    }
}
/* car 2 ////////////////////////////////////////////////// */
.path2{
    width: 100%;
    height: 110px;
    border-bottom: 8px solid rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
    position: relative;
}
.shap2{
    width: 120px;
    height: 120px;
    position:absolute;
    z-index: 1;
    padding-top: 40px;
    animation-name: car2;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-timing-function: linear ;
    animation-fill-mode: forwards ;
    animation-direction: reverse ;
    left: 92.1%;
    transform: rotateY(180deg);
}
.rectangle2{
   
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: skyblue;
    z-index: 2;
}
.circul{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: rgb(109, 109, 109);
    z-index: 2;
    top:80px;
    
}
.circul3{
    left: 5px;
}
.circul4{
    left: 85px;
}
.trapezoid2{
    
    top: 15px;
    left: 10px ;
    border-bottom: 25px solid rgb(0, 0, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 95px;
    position: absolute;
}
@keyframes car2{
    
    0% {
        left: 0%;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 92.1%;
    }
}
/* car 3 ////////////////////////////////////////////////// */
.path3{
    width: 100%;
    height: 110px;
    border-bottom: 8px solid black;
    background-color: rgb(223, 223, 223);
    position: relative;
}
.shap3{
    width: 120px;
    height: 120px;
    position:absolute;
    z-index: 1;
    padding-top: 40px;
    animation-name: car3;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-timing-function: linear ;
    animation-fill-mode: forwards ;
}
.rectangle3{
   
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: aquamarine;
    z-index: 2;
}
.circul{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: rgb(109, 109, 109);
    z-index: 2;
    top:80px;
    
}
.circul5{
    left: 5px;
}
.circul6{
    left: 85px;
}
.trapezoid3{
    
    top: 15px;
    left: 10px ;
    border-bottom: 25px solid rgb(0, 0, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 95px;
    position: absolute;
}
@keyframes car3{
    
    0% {
        left: 0%;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 92.1%;
    }
}
/* car 4 ////////////////////////////////////////////////// */
.path4{
    width: 100%;
    height: 110px;
    border-bottom: 8px solid black;
    background-color: rgb(223, 223, 223);
    position: relative;
}
.shap4{
    width: 120px;
    height: 120px;
    position:absolute;
    z-index: 1;
    padding-top: 40px;
    animation-name: car4;
    animation-delay: 15s;
    animation-duration: 5s;
    animation-timing-function: linear ;
    animation-fill-mode: forwards ;
    animation-direction: reverse ;
    left: 92.1%;
    transform: rotateY(180deg);
}
.rectangle4{
   
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: skyblue;
    z-index: 2;
}
.circul{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: rgb(109, 109, 109);
    z-index: 2;
    top:80px;
    
}
.circul7{
    left: 5px;
}
.circul8{
    left: 85px;
}
.trapezoid4{
    
    top: 15px;
    left: 10px ;
    border-bottom: 25px solid rgb(0, 0, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 95px;
    position: absolute;
}
@keyframes car4{
    
    0% {
        left: 0%;
        
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 92.1%; 
    }
}
/* car 5 ////////////////////////////////////////////////// */
.path5{
    width: 100%;
    height: 110px;
    border-bottom: 8px solid black;
    background-color: rgb(223, 223, 223);
    position: relative;
}
.shap5{
    width: 120px;
    height: 120px;
    position:absolute;
    z-index: 1;
    padding-top: 40px;
    animation-name: car5;
    animation-duration: 5s;
    animation-delay: 20s;
    animation-timing-function: linear ;
    animation-fill-mode: forwards ;
}
.rectangle5{
   
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: aquamarine;
    z-index: 2;
}
.circul{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: rgb(109, 109, 109);
    z-index: 2;
    top:80px;
    
}
.circul9{
    left: 5px;
}
.circul10{
    left: 85px;
}
.trapezoid5{
    
    top: 15px;
    left: 10px ;
    border-bottom: 25px solid rgb(0, 0, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 95px;
    position: absolute;
}
@keyframes car5{
    
    0% {
        left: 0%;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 92.1%;
    }
}
/* car 6 ////////////////////////////////////////////////// */
.path6{
    width: 100%;
    height: 110px;
    border-bottom: 8px solid black;
    background-color: rgb(223, 223, 223);
    position: relative;
}
.shap6{
    width: 120px;
    height: 120px;
    position:absolute;
    z-index: 1;
    padding-top: 40px;
    animation-name: car6;
    animation-delay: 25s;
    animation-duration: 5s;
    animation-timing-function: linear ;
    animation-fill-mode: forwards ;
    animation-direction: reverse ;
    left: 92.1%;
    transform: rotateY(180deg);
}
.rectangle6{
   
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: skyblue;
    z-index: 2;
}
.circul{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: rgb(109, 109, 109);
    z-index: 2;
    top:80px;
    
}
.circul11{
    left: 5px;
}
.circul12{
    left: 85px;
}
.trapezoid6{
    
    top: 15px;
    left: 10px ;
    border-bottom: 25px solid rgb(0, 0, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 95px;
    position: absolute;

}
@keyframes car6{
    
    0% {
        left: 0%;
        
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        
        left: 92.1%;
        
    }
}
/* car 7 ////////////////////////////////////////////////// */
.path7{
    width: 100%;
    height: 110px;
    border-bottom: 8px solid black;
    background-color: rgb(223, 223, 223);
    position: relative;
}
.shap7{
    width: 120px;
    height: 120px;
    position:absolute;
    z-index: 1;
    padding-top: 40px;
    animation-name: car7;
    animation-duration: 5s;
    animation-delay: 30s;
    animation-timing-function: linear ;
    animation-fill-mode: forwards ;
}
.rectangle7{
   
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: aquamarine;
    z-index: 2;
}
.circu7{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: rgb(109, 109, 109);
    z-index: 2;
    top:80px;
    
}
.circul13{
    left: 5px;
}
.circul14{
    left: 85px;
}
.trapezoid7{
    
    top: 15px;
    left: 10px ;
    border-bottom: 25px solid rgb(0, 0, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 95px;
    position: absolute;
}
@keyframes car7{
    
    0% {
        left: 0%;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 92.1%;
    }
}
/* car 8 ////////////////////////////////////////////////// */
.path8{
    width: 100%;
    height: 110px;
    border-bottom: 8px solid black;
    background-color: rgb(223, 223, 223);
    position: relative;
}
.shap8{
    width: 120px;
    height: 120px;
    position:absolute;
    z-index: 1;
    padding-top: 40px;
    animation-name: car8;
    animation-delay: 35s;
    animation-duration: 5s;
    animation-timing-function: linear ;
    animation-fill-mode: forwards ;
    animation-direction: reverse ;
    left: 92.1%;
    transform: rotateY(180deg);
}
.rectangle8{
   
    position: absolute;
    width: 120px;
    height: 50px;
    z-index: 2;
    background-color: skyblue;
}
.circul{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: rgb(109, 109, 109);
    z-index: 2;
    top:80px;
    
}
.circul15{
    left: 5px;
}
.circul16{
    left: 85px;
}
.trapezoid8{
    
    top: 15px;
    left: 10px ;
    border-bottom: 25px solid rgb(0, 0, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 95px;
    position: absolute;
}
@keyframes car8{
    
    0% {
        left: 0%;
        
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        
     left: 92.1%;
    }
}